
 button#controle{
  margin-top: -18px;
  border: solid white 1px;
  border-radius: 10%;
  float: left;
  width: 30px;
  height: 38px;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  font-weight: bolder;
  transition: 700ms;
  display: none;
}
@media(max-width:600px){
  div.menu a{
    display: block;
    text-align: center;
    width: 90%;
  }
  button{
    display: inline;
  }
}